.p0{
position: absolute;
width: 939px;
height: 276px;
left: 35px;
top: 15px;

font-family: EB Garamond;
font-style: normal;
font-weight: 800;
font-size: 200px;
line-height: 133px;

color: #000000;
}
.dio {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 35px;
  top: 360px;

}
.geli {
position: absolute;
width: 160px;
height: 160px;
left: 227px;
top: 357px;
}
.nep {
position: absolute;
width: 160px;
height: 160px;
left: 419px;
top: 360px;
}
.ros {
position: absolute;
width: 160px;
height: 160px;
left: 35px;
top: 546px;
}
.cef {
position: absolute;
width: 160px;
height: 160px;
left: 227px;
top: 546px;

}
.dar {
position: absolute;
width: 160px;
height: 160px;
left: 419px;
top: 546px;
}
.p1 {
position: absolute;
left: 133px;
top: 297px;
font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: 0.83em;
color: #FFFFFF;
}

.p2 {
position: absolute;
left: 370px;
top: 297px;
font-family: EB Garamond;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: 0.83em;
color: #FFFFFF;
}
.p3 {
position: absolute;
width: 276px;
height: 30px;
left: 602px;
top: 297px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;


display: flex;
align-items: center;
letter-spacing: 0.83em;

color: #FFFFFF;
}
.p4 {
position: absolute;
width: 153px;
height: 30px;
left: 878px;
top: 297px;

font-family: EB Garamond;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

display: flex;
align-items: center;
letter-spacing: 0.83em;

color: #FFFFFF;
}
.p5 {
position: absolute;
width: 278px;
height: 30px;
left: 1030px;
top: 297px;

font-family: EB Garamond;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;


display: flex;
align-items: center;
letter-spacing: 0.83em;

color: #FFFFFF;
}
.leikavoda {
position: absolute;
left: 0px;
top: 754.21px;
background: none ;
}
.cwetok {
position: absolute;
width: 431.24px;
height: 608.21px;
left: 1008.26px;
top: 449.84px;
background: none ;
}
.lin {
position: absolute;
left: 0px;
top: 1475px;
}
.btab1 {
position: absolute;
left: 223.5px;
top: 1624px;
}
.btab2 {
position: absolute;
left: 922.5px;
top: 1694px;
}
.btab3 {
position: absolute;
left: 27px;
top: 2374px;
}
.btab5 {
position: absolute;
left: 235px;
top: 3117px;
}
.btab4 {
position: absolute;
left: 806px;
top: 2765px;
}
.btab6 {
position: absolute;
left: 286px;
top: 3772px;
}
.viveska1 {
position: absolute;
left: 296px;
top: 1477px;
}
.viveska2 {
position: absolute;
left: 994px;
top: 1480px;
}
.viveska3 {
position: absolute;
left: 27px;
top: 2233px;
}
.viveska4 {
position: absolute;
left: 799px;
top: 2515px;
}
.viveska5 {
position: absolute;
left: 305px;
top: 2986px;
}
.viveska6 {
position: absolute;
left: 912px;
top: 3550px;
}
.g1 {
position: absolute;
width: 417px;
height: 170px;
left: 264px;
top: 1689px;
font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;

}

.g2 {
position: absolute;
width: 417px;
height: 170px;
left: 963px;
top: 1773px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
}

.g3 {
position: absolute;
width: 417px;
height: 170px;
left: 66px;
top: 2453px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}
.g4 {
position: absolute;
width: 417px;
height: 170px;
left: 845px;
top: 2799px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}
.g5 {
position: absolute;
width: 417px;
height: 170px;
left: 274px;
top: 3168px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}
.g6 {
position: absolute;
width: 417px;
height: 170px;
left: 325px;
top: 3851px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}
.opasno {
  position: absolute;
  width: 261px;
  height: 655px;
  left: 4px;
  top: 3741px;
    font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49.5%;
  text-align: center;
  letter-spacing: -0.145em;
    color: #000000;
}
.tab1 {
position: absolute;
width: 353px;
height: 269.5px;
left: 58.5px;
top: 1963.5px;
}
.tab2 {
position: absolute;
width: 353px;
height: 269.5px;
left: 792.5px;
top: 2246.5px;
}
.tab3 {
position: absolute;
width: 353px;
height: 269.5px;
left: 342.5px;
top: 2716.5px;
}
.tab4 {
position: absolute;
width: 353px;
height: 269.5px;
left: 1075.5px;
top: 3279.5px;
}
.tab5 {
position: absolute;
width: 353px;
height: 269.5px;
left: 34.5px;
top: 3466.5px;
}
.tab6 {
position: absolute;
width: 353px;
height: 269.5px;
left: 570.5px;
top: 4121.5px;
}
.geli1 {
position: absolute;
left: 27px;
top: 1501px;
}
.gelipic {
position: absolute;
width: 245.87px;
height: 210px;
left: 463px;
top: 2020px;
}
.dio1 {
position: absolute;
left: 798px;
top: 1501px;
}
.diopic {
position: absolute;
left: 1050px;
top: 2005.12px;
}
.nep1 {
position: absolute;
left: 565px;
top: 2261px;
}
.neppic {
position: absolute;
left: 40px;
top: 2623px;
}
.ros1 {
position: absolute;
left: 1238px;
top: 2540px;
}
.rospic {
position: absolute;
left: 802px;
top: 3186.36px;
}
.cef1 {
position: absolute;
left: 27px;
top: 3010px;
}
.cefpic {
position: absolute;
left: 506px;
top: 3536px;
}
.dar1 {
position: absolute;
left: 819px;
top: 3772px;
}
.darpic {
position: absolute;
left: 994px;
top: 3737px;
}
.viv1 {
position: absolute;
width: 451px;
height: 138px;
left: 316px;
top: 1480px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 157%;
}
.viv2 {
position: absolute;
width: 451px;
height: 138px;
left: 1014px;
top: 1483px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 157%;
}
.viv3 {
position: absolute;
width: 451px;
height: 138px;
left: 47px;
top: 2236px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 157%;
}
.viv4 {
position: absolute;
width: 451px;
height: 138px;
left: 819px;
top: 2518px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 157%;
}
.viv5 {
position: absolute;
width: 451px;
height: 138px;
left: 325px;
top: 2989px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 157%;
}
.viv6 {
position: absolute;
width: 451px;
height: 138px;
left: 932px;
top: 3553px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 157%;
}
.wtabtext1 {
position: absolute;
width: 160px;
height: 145px;
left: 90px;
top: 1978px;
font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 167%;
}
.wtabtext11 {
position: absolute;
width: 194px;
height: 145px;
left: 263px;
top: 1978px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 167%;
}
.wtabdiotext1 {
position: absolute;
width: 160px;
height: 145px;
left: 824px;
top: 2261px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 167%;
}
.wtabdiotext11 {
position: absolute;
width: 194px;
height: 145px;
left: 997px;
top: 2261px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 167%;
}
.wtabneptext1 {
position: absolute;
width: 160px;
height: 145px;
left: 374px;
top: 2731px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 167%;
}
.wtabneptext11 {
position: absolute;
width: 194px;
height: 145px;
left: 547px;
top: 2731px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 167%;
}
.wtabrostext1 {
position: absolute;
width: 160px;
height: 145px;
left: 1107px;
top: 3294px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 167%;
}
.wtabrostext11 {
position: absolute;
width: 194px;
height: 145px;
left: 1280px;
top: 3294px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 167%;
}
.wtabceftext1 {
position: absolute;
width: 160px;
height: 145px;
left: 66px;
top: 3481px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 167%;
}
.wtabceftext11 {
position: absolute;
width: 194px;
height: 145px;
left: 239px;
top: 3481px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 167%;
}
.wtabdartext1 {
position: absolute;
width: 160px;
height: 145px;
left: 602px;
top: 4136px;

font-family: EB Garamond;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 167%;
}
.wtabdartext11 {
position: absolute;
width: 194px;
height: 145px;
left: 775px;
top: 4136px;

font-family: EB Garamond;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 167%;
}
