html {
  background: white ;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  font-family: 'EB Garamond', serif;
  background-color: white ;
  color: black ;
  overflow-x: hidden;
}

section {
  display: flex;
  height: 720px;
}
